{% extends "base.html" %}

{% block content %}

<script src="/static/js/analysis/analysis_details.js"></script>

<h2>Детали анализа</h2>
<p><strong>Название промпта:</strong> <span id="promptName"></span></p>
<p><strong>Фильтры:</strong> <span id="filters"></span></p>
<p><strong>Анализ:</strong> <span id="analysisText"></span></p>
<p><strong>Токены на ввод:</strong> <span id="tokensInput"></span></p>
<p><strong>Стоимость ввода ($):</strong> <span id="costInput"></span></p>
<p><strong>Токены на вывод:</strong> <span id="tokensOutput"></span></p>
<p><strong>Стоимость вывода ($):</strong> <span id="costOutput"></span></p>
<p><strong>Дата создания:</strong> <span id="timestamp"></span></p>

<button id="backButton" class="btn btn-secondary mt-4">Назад</button>

<div id="loadingIndicator" class="spinner-border text-primary" role="status" style="display:none;">
    <span class="visually-hidden">Загрузка...</span>
</div>


{% endblock %}
